/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 800px;
	padding: 50px;
	/* align-content: center; */
	margin:0 auto;
	/* border:2px solid red; */
	
}

.header{
	display:flex;
	justify-content: space-around;

}

.nav {
	display: flex;
	padding: 5px;
	color: gray;
	word-spacing: 35px;
	padding-bottom: 30px;
	font-size: 14px; 

}

/* .logoSection {
	
} */



.leftJumbo {
	/* display: inline-block; */
	height: 400px;
	width: 300px;
	text-align: center;
	font-size: 70px;
	
}



.rightJumbo {
	
	height: 400px;
	border: 2px, solid, black;
	/* float: right; */
}

@media(max-width:800px){
    .rightJumbo{
        display:none;
    }
}

.jumbo {
	display:flex;
	height: 500px;
	padding-top: 50px;
	border-bottom: 1.5px solid black;
}

@media(max-width:800px){
    .jumbo{
        justify-content: center;
        align-items:center;
    }
}
	
button {
	height: 10px;
	width: 180px;
	
}

.main{
	display:flex;
	flex-direction:column;
}

h2 {
	height: 250px;
	padding-top: 50px;
	text-align: center;
}	

.top {
	display:flex;
	padding: 30px 0;
	height: 170px;
	
}
.mid {
	height: 200px;
	align-content: top;
	margin-left:20px;
	/* display: inline-block; */
}

.middle-img{
	width:676px;
}
.topLeft {
	/* display: inline-block; */
	height: 170px;
	width: 380px;
}

.topRight {
	/* display: inline-block; */
	height: 170px;
	vertical-align: top;
	width: 380px;
	float: right;
}
.bottom{
	display:flex;
	border-bottom:2px solid black;
	padding-bottom: 10px;
	margin-bottom: 40px;

}

.b1, .b2, .b3 {
	/* display: inline-block; */
	width: 280px;
	height: 200px;
	padding: 10px;
}


.copyright {
	text-align: center;
}






